<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties>
    </properties>
    <settings>
        <setting name="defaultStatementTimeout" value="300000" />
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
    <typeAliases>
    	<package name="com.mnwise.wiseu.web.rest.model"/>
    	<package name="com.mnwise.wiseu.web.rest.dto"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="com.mnwise.wiseu.web.base.MyBatisInterceptor"/>
    </plugins>

     <!-- mybatis JsonObject type set,get handler -->

</configuration>