/* 나눔고딕 weight 400 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/nanum-gothic/nanum-gothic-v17-korean-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/nanum-gothic/nanum-gothic-v17-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/nanum-gothic/nanum-gothic-v17-korean-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/nanum-gothic/nanum-gothic-v17-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/nanum-gothic/nanum-gothic-v17-korean-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* 나눔고딕 weight 800 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/nanum-gothic/nanum-gothic-v17-korean-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       /* url('/fonts/nanum-gothic/nanum-gothic-v17-korean-800.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
       url('/fonts/nanum-gothic/nanum-gothic-v17-korean-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/nanum-gothic/nanum-gothic-v17-korean-800.woff') format('woff'), /* Modern Browsers */
       url('/fonts/nanum-gothic/nanum-gothic-v17-korean-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/nanum-gothic/nanum-gothic-v17-korean-800.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* 나눔고딕 weight 700 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/nanum-gothic/nanum-gothic-v17-korean-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       /* url('/fonts/nanum-gothic/nanum-gothic-v17-korean-700.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
       url('/fonts/nanum-gothic/nanum-gothic-v17-korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/nanum-gothic/nanum-gothic-v17-korean-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/nanum-gothic/nanum-gothic-v17-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/nanum-gothic/nanum-gothic-v17-korean-700.svg#NanumGothic') format('svg'); /* Legacy iOS */
}

/* noto-sans weight 300  */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/noto-Sans/noto-sans-kr-v13-korean-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       /* url('/fonts/noto-Sans/noto-sans-kr-v13-korean-300.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
       url('/fonts/noto-Sans/noto-sans-kr-v13-korean-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/noto-Sans/noto-sans-kr-v13-korean-300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/noto-Sans/noto-sans-kr-v13-korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/noto-Sans/noto-sans-kr-v13-korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans weight 400  */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/noto-Sans/noto-sans-kr-v13-korean-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       /* url('/fonts/noto-Sans/noto-sans-kr-v13-korean-regular.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
       url('/fonts/noto-Sans/noto-sans-kr-v13-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/noto-Sans/noto-sans-kr-v13-korean-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/noto-Sans/noto-sans-kr-v13-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/noto-Sans/noto-sans-kr-v13-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans weight 500  */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/noto-Sans/noto-sans-kr-v13-korean-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       /* url('/fonts/noto-Sans/noto-sans-kr-v13-korean-500.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
       url('/fonts/noto-Sans/noto-sans-kr-v13-korean-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/noto-Sans/noto-sans-kr-v13-korean-500.woff') format('woff'), /* Modern Browsers */
       url('/fonts/noto-Sans/noto-sans-kr-v13-korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/noto-Sans/noto-sans-kr-v13-korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

 /* roboto weight 300  */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/roboto/roboto-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       /* url('/fonts/roboto/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
       url('/fonts/roboto/roboto-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto/roboto-v20-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto/roboto-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto/roboto-v20-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto weight 400  */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       /* url('/fonts/roboto/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
       url('/fonts/roboto/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto weight 500  */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/roboto/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       /* url('/fonts/roboto/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
       url('/fonts/roboto/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto weight 700  */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/roboto/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       /* url('/fonts/roboto/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
       url('/fonts/roboto/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}